/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */


#sidebar .image {
    margin:0 auto;
}

div.principal-report {
    border: 1px solid #999999;
    border-radius: .45rem;
}