/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

/*.container {*/
/*    display:inline-grid;*/
/*    grid-template-columns: auto auto;*/
/*    padding: 8px;*/
/*}*/

/*.container > div {*/
/*    padding: 8px;*/
/*    text-align:center;*/
/*}*/


.board-member-cpt-list-table-name-container {
	display: flex;
	align-items: center;
	gap: 10px;
}

.board-member-cpt-list-table-name-container div {
	flex: 1;
	display: flex;
	align-items: center;
}


#board-member-cpt-meta-box {
	background: #FAFAFA;
	padding: 30px;
}

#board-member-cpt-meta-box ul {
	padding:0;
	margin:0;
	list-style:none;
}

#board-member-cpt-meta-box ul li {
	display: block;
	margin-bottom: 20px;
	min-height: 35px;
}

#board-member-cpt-meta-box ul li .field-style {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 8px;
	outline: none;
	border: 1px solid #B0CFE0;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out
}

#board-member-cpt-meta-box ul li .field-style:focus {
	box-shadow: 0 0 5px #B0CFE0;
	border:1px solid #B0CFE0;
}

#board-member-cpt-meta-box ul li .field-split {
	width: 49%;
}

#board-member-cpt-meta-box ul li .field-full {
	width: 49%;
}

#board-member-cpt-meta-box ul li input.align-left{
	float:left;
}

#board-member-cpt-meta-box ul li input.align-right{
	float:right;
}


/* Full-screen loader container */
#loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
	display: none; /* Hidden by default */
	justify-content: center;
	align-items: center;
	z-index: 9999; /* Ensure it covers everything */
}

/* Spinner */
.loader {
	border: 4px solid #f3f3f3;
	border-top: 4px solid #3498db;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: spin 1.5s linear infinite;
	margin: 200px auto auto auto;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

#form-table tbody tr:hover {
	background-color:#1bd760;
	cursor:pointer;
}